<.flash_group flash={@flash} />
<div class="bg-indigo-600 text-indigo-100 pl-2">
  A demo and poc web application using package <code>conion 0.1.0</code>
  <span class="float-right text-right pr-2">
    <.current_date_time id="clock" />
  </span>
</div>
<main>
  {@inner_content}
</main>
