<.flash_group flash={@flash} />
<div class="bg-indigo-600 text-indigo-100 pl-2">
  A demo and poc web application using package <code>conion 0.1.0</code>
  <span class="float-right text-right pr-2">
    <.current_date />
  </span>
</div>
<div class="c-page">
  <h1 class="page-title">Web Application Example for <code>conion</code></h1>
  <div id="connection-error" class="error mt-8">The application is not connected!</div>
</div>
