<div class="c-page">
  <.link navigate={~p"/"}>{gettext("Back to start page")}</.link>
  <h1 class="page-title">
    Persons (Demo Feature)
  </h1>

  <div class="mt-4 w-full">
    <.link class="button float-right" role="add_person" navigate={~p"/persons/new"}>
      {gettext("New Person")}
    </.link>
  </div>
</div>
